<?xml version="1.0"?>
<launch>

    <!-- roslaunch amcl_hybrid amcl_vanilla_launch.launch 2>&1 | grep -v 'TF_REPEATED_DATA\|binarydeb' -->
    <!-- rosbag play ../rosbags/hallway_2024-02-09-17-50-04.bag /xtion/rgb/image_rect_color:=/rgb /xtion/rgb/camera_info:=/amcl_hybrid/camera_info -->

    <arg name="environment" default="car"/>
    <!-- 
    Available environments:
        1. car
        2. long_hallway
        3. long_gallery
    -->

    <!-- 0. Set simulation time to synchronize bag files and node data-->
	<param name="/use_sim_time" type="bool" value="true"/>

    <!-- 1. AMCL Hybrid -->
    <include file="$(find amcl_hybrid)/launch/amcl_hybrid.launch">
        <arg name="marker_positions_file" value="$(find amcl_hybrid)/maps/marker_positions_$(arg environment).yml" />
    </include>

    <!-- 2. Launch Rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find run_amcl)/test_amcl.rviz" />

    <!-- 3. Launch Map -->
    <arg name="map_file" default="$(arg environment).yaml" />
    <arg name="map_path" default="$(find amcl_hybrid)/../../../maps/" />
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_path)$(arg map_file)" />

    <!-- <param name="robot_description" command="$(find xacro)/xacro '$(find tiago_description)/robots/tiago.urdf.xacro'" /> -->

    
    <!-- 5. Rectangle Detector Node-->
    <include file="$(find rectangle_detector)/launch/rectangle_detector_sim.launch">
        
    </include>

    <!-- Rosbag -->
    <node name="play" pkg="rosbag" type="play" required="true" args="$(find amcl_hybrid)/../../../rosbags/$(arg environment)_gt.bag --clock -r 2">
        <!-- <remap from="/xtion/rgb/image_rect_color" to="/rgb"/>
        <remap from="/xtion/rgb/camera_info" to="/amcl_hybrid/camera_info"/> -->
    </node>
    <!-- Rosbag -->
    <node name="record" pkg="rosbag" type="record" args="-o $(find amcl_hybrid)/../../../rosbags/p_car_1/$(arg environment)_laser_.bag /odom /odom_gt /amcl_pose /rectangle_detector/num_detections">
    </node>

</launch>